name: Resume Challenge

on:
  
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
env:
 AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
 AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
 AWS_REGION: ${{vars.AWS_REGION}}
jobs:
  deploy:
    name: "TF_Resume_Challenge"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2


      - name: Set up Python
        uses: actions/setup-python@v2
        
  
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
     

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -no-color
        continue-on-error: true

      - name: Terraform Apply
        run: terraform apply -auto-approve
#delete resources
      - name: Terraform Destroy resources
        run: terraform destroy --auto-approve

        
